div{
    text-align: center;
    margin: auto;
    font-family: Helvetica, sans-serif;
}

.options-container{
    display: grid;
    grid-template-columns: 1000px;
}

.options-title, .options-buttons, .repeat{
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    margin: auto;
    border: 1px grey dotted;
}


.time-container{
    text-align: center;
    margin-top: 50px;
    border: 1px grey dotted;
}

.repeat {
    padding: 10px;
}

.controls-1, .controls-2{
    display: flex;
    max-width: 500px;
    justify-content: space-around;
}

#sessions-div{
    margin: 20px auto;
}